.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    border: 3px dashed;
    border-radius: 10px;
    transition: .25s ease-in-out;
    padding: 20px;
    margin: 30px 0;
}

.neutral {
    border-color: #ccb8a3;
    background-color: #faf9f7;
    color: #664d33;
}

.green {
    border-color: #a3ccb1;
    background-color: #e1fae9;
    color: #336644;
}

.red {
    border-color: #cca3a3;
    background-color: #fae1e1;
    color: #663333;
}

svg {
    width: 200px;
    height: 100px;
}